.users-box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .users-card {
        max-width: 700px;
        width: 100%;
        border-radius: 30px;
        box-shadow: 0 7px 20px 7px rgba($black-01, 0.1);
        border: none;
    }

    .gradient-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .users-card {
        .card-header {
            text-align: center;
            padding: 40px;
            background-color: $gray-02;
            border-radius: 30px 30px 0 0;
            border: none;

            h3 {
                font-size: $font-size-xl;
                color: $gray-01;
                font-weight: 700;
            }
        }

        .card-body {
            padding: 0 5px 40px 40px;
        }
    }


    .user-list {
        padding-right: 35px;

        .list-group-item {
            position: relative;
            padding-left: 0;
            padding-right: 0;

            a {
                width: 100%;
                font-size: $font-size-lg;
                padding: 10px 0 10px 60px;
                text-decoration: none;
                color: $gray-03;
                display: inline-block;
                font-weight: 500;
            }
        }

        img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
        }
    }
}

@media (max-width: 991px) {
    .users-box {
        padding: 0 12px;

        .users-card {
            border-radius: 16px;
        }

        .gradient-bg {
            height: 40vh;
            object-fit: cover;
        }

        .users-card {
            .card-header {
                padding: 24px;
                border-radius: 16px 16px 0 0;

                h3 {
                    font-size: $font-size-lg;
                }
            }

            .card-body {
                padding: 0 5px 16px 16px;
            }
        }


        .user-list {
            padding-right: 11px;

            .list-group-item {
                a {
                    font-size: $font-size-base;
                }
            }

        }
    }
}