$gray-01: #545454;
$gray-02: #F6F6F6;
$gray-03: #606060;
$gray-04: #E2E2E2;
$gray-05: #777777;
$gray-06: #9A9A9A;
$gray-06: #BDC5D4;

$white: #ffffff;
$white-01: #D8D8D8;
$white-02: #9E9E9E;
$white-03: #F1F1F1;

$black-01: #000000;

$purple-01: #8B8ADB;

$blue-01: #2C65C8;

$danger: #D55151;

$font-size-xl: 24px;
$font-size-sm: 10px;
$font-size-12: 12px;
$font-size-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-20: 20px;
$font-size-22: 22px;


$icomoon-path: './../../fonts/icomoon/';